/*****tag selector*******/

h1 {
    color: red;
    font-size: 100px;
}

img {
    background-color: red;
}


/*****class selector*******/

.bacon {
    background-color: green;

}

.broccoli {
    background-color: red;
}

.circular {
    border-radius: 100%;
}

/*****id selector*******/

#title
{
    color: blue;
}